@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


li, a {
    font-size: xx-large;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
}

#header-img {
    cursor: pointer;
    width: auto;
    height: 110px;
    transition: all 0.3s ease 0s;
 }

 #header-img:hover {
     opacity: .85;
 }

.nav-list li {
    display: inline-block;
    padding: 0 50px;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-list li a:hover {
    color: rgb(170, 160, 160);
}

.contact button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 136, 169, 1);
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, .8);
}

#main {
    position: relative;
    z-index: 0;
    height: 70vh;
    background: url("https://images.unsplash.com/photo-1445743432342-eac500ce72b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat top center/cover;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title { 
    font-size: 50px;
}

#welcome {
    font-size: 30px;
    font-family: 'Shadows Into Light', sans-serif;
}

#features {
    text-align: center;
    margin-top: 100px;
    font-family: 'Slabo 27px', serif;
    background: #fff;
    padding-bottom: 50px;
}

#courses {
    font-size: 40px;
    padding: 40px 0;
    scroll-margin-top: 4em;
}

.course-list {
    list-style-type: none;
    margin-bottom: 3em;
}

.course-list li {
    display: inline-block;
    font-size: 25px;
    padding: 10px 25px;
    border: solid;
    border-color: rgb(245, 199, 71, 1);
    border-radius: 10px;
    margin: 0 2em;
    width: 15em;
    background-color: black;
    color: white;
}

.course-list li .course-img {
    height: 200px;
    margin: 10px 0;
}

#blues-guitar {
    background: url("https://www.ultimate-guitar.com/static/article/lesson/6/7256_0_wide_ver1596404390.jpg@642") no-repeat center center/cover;
    box-shadow: 0 0 8px 8px black inset;
}


#jazz-guitar {
    background: url("https://www.ultimate-guitar.com/static/article/news/2/78572_0_wide_ver1535042438.jpg@642") no-repeat center center/cover;
    box-shadow: 0 0 8px 8px black inset;
}

#rock-guitar {
    background: url("https://images.unsplash.com/photo-1454922915609-78549ad709bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80") no-repeat center center/cover;
    box-shadow: 0 0 8px 8px black inset;
}

.course-button {
    font-size: medium;
    border: none;
    background-color: rgb(245, 199, 71, 1);
    height: 2em;
    width: 10em;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}

.course-button:hover {
    background-color: rgb(219, 177, 60);
    cursor: pointer;
}

#about {
    position: relative;
    z-index: 0;
    background-color: rgb(241, 241, 239);
    text-align: center;
    padding: 100px 100px 200px 100px;
    font-family: 'Slabo 27px', serif;
    scroll-margin-top: 4em;
}

#about h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

#about p {
    font-size: 25px;
    width: 700px;
    padding: 20px;
    margin: 0 auto;
}

#video-div {
    height: 400px;
    width: 700px;
    margin: 0 auto;
}

#video {
    width: 100%;
    height: 100%;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    position: relative;
    scroll-margin-top: 4em;
    height: 350px;
    background: url("https://images.unsplash.com/photo-1506193635280-b7e8058ac0f6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=940&q=80");
}

#form h1 {
    font-size: 40px;
    color: white;
}

#form h2 {
    font-size: 30px;
    color: white;
}

.signup-form {
    text-align: center;
}

.label {
    font-size: 20px;
    color: white;
}

.input {
    border: none;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
}

#submit {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 17px;
    background-color: rgb(245, 199, 71, 1);
    color: black;
}

#submit:hover {
    background-color: rgb(219, 177, 60);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#contact {
   background: rgb(0, 3, 15);
   color: #fff;
   font-family: 'Slabo 27px', serif;
   text-align: center;
   padding: 40px;
   border-top: solid #444;
}

.social-media-icons {
    height: 50px;
}

.icon {
    color: #fff;
    padding: 0 20px;
}

.icon:hover {
    color: rgb(201, 201, 201);
}

.footer-links {
    display: flex;
    justify-content: center; 
}

.footer-links a {
    padding: 5px 5px;
    font-size: 16px;
    color: #fff;
}

.footer-links a:hover {
    text-decoration: underline;
    color: rgb(201, 201, 201);
}

.disclaimer {
    font-size: 12px;
    padding-top: 10px;
}

/* Smartphones */
@media screen and (max-width: 500px) {

    #header {
        padding: 10px 0;
        justify-content: flex-start;
        width: 100%;
    }

    #header-img {
        display: none;
    }

    .nav-list li {
        font-size: 20px;
        display: inline;
        padding: 0 20px;
    }

    .nav-list li a {
        font-size: 20px;
        display: inline;
    }

    a.contact {
        font-size: 10px;
        margin-left: auto;
    }

    a.contact button {
        font-size: 15px;
    }

    #about {
        padding: 20px 10px;
    }

    #about p {
        font-size: 20px;
        width: 100%;
    }

    #main {
        height: 100vh;
    }

    #features {
        margin-top: 0;
    }

    #courses {
        padding: 10px 0;
    }

    .course-list li {
        margin: 0;
    }

    #video-div {
        height: 15rem;
        width: 24rem;
    }

    #video {
        height: 100%;
    }


}

/* Tablets */
@media(min-width: 501px) (max-width: 768px) {

}

/* normal */
@media(min-width: 769px) (max-width: 1200px) {

}

/* widescreen */
@media(min-width: 1201px) {

}

/* landscape */
@media(max-height: 500px) {

}